{{> header }}
<section class="portfolio container" {{doc.metadata.pageAttr}}>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="row">
				{{#each portfolioData}}
			    	{{> portfolioitem }}
			    {{/each}}
			</div>
		</div>
	</div>
</section>
{{> footer }}